<div class="mais-lidas">
    <h3>Mais Lidas</h3>
    <div class="mais-lidas-noticias">
        <% for (let i = 0; i < postsTop.length; i++) { %>

            <div class="mais-lida-noticia-single">
                <a href="/<%= postsTop[i].slug %>" class="link-imagem-mais-lidas">
                    <img src="<%= postsTop[i].img %>" />
                </a>
                <div class="texto-mais-lida-single">
                    <h4><%= postsTop[i].titulo %></h4>
                    <p><%= postsTop[i].categoria %></p>
                    <span style="font-size: 12px; font-weight: bold;">(<%= postsTop[i].views %> views)</span>
                    <a href="/<%= postsTop[i].slug %>">Saiba mais</a>
                </div>
            </div>

        <% } %>
    </div>
</div>